In [1]:
import pandas as pd

In [4]:
bank_data = pd.read_csv("bank-full.csv", delimiter = ";")

In [5]:
bank_data.shape

(45211, 17)

In [6]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [7]:
#we need to create a column customer_id(alphanumeric) to uniquely identify each row
bank_data['customer_id'] = 'CUST' + bank_data.index.astype(str)

In [8]:
bank_data.shape

(45211, 18)

In [11]:
bank_data.head()

,customer_id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,CUST0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,CUST1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,CUST2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,CUST3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,CUST4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [10]:
column_to_move = bank_data.pop("customer_id")

# insert column with insert(location, column_name, column_value)

bank_data.insert(0, "customer_id", column_to_move)

In [14]:
#save to csv
bank_data.to_csv("bank_data.csv",index = False)